footer {
    background-color: #333;
    color: #fff;
    padding: 40px 0;
  }

  .footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }

  .footer-column {
    width: 32%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  h4 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  ul li {
    margin-bottom: 10px;
  }

  ul li a {
    color: #fff;
    text-decoration: none;
  }

  .contact-card {
    background-color: #222;
    padding: 20px;
    border-radius: 6px;
  }

  .contact-info {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  .contact-info i {
    margin-right: 10px;
  }

  .contact-form input,
  .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: none;
  }

  .contact-form button {
    background-color: #fff;
    color: #333;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .contact-form button:hover {
    background-color: #ddd;
  }


  .footer-copy{
    background-color: #00000029;
    color: #ffffff;
    bottom: 0;
    width: 100%;
    padding: 2px 0;
    position: relative;
    top: 30px;
    text-align: center;
  }