.header {
    background-color: #000000;
    z-index: 1000;
    padding-top: 5px;
    padding-bottom: 5px;
    position: fixed;
    top: 0;

    width: 100%;
  }

  .header-scroll{
    background-color: #000000;
    z-index: 1000;
    padding-top: 5px;
    padding-bottom: 5px;
    position: fixed;
    top: 0;
    opacity: 0.5;
    width: 100%;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
  }

  .nav-menu {
    list-style: none;
    display: flex;
    gap: 30px;
  }

  .nav-item {
    margin-right: 10px;
  }

  .nav-link {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    transition: color 0.3s ease-in-out;
  }

  .nav-link:hover {
    color: #f0f0f0;
  }


  .logo-container {
    display: flex;
    align-items: center;
  }

  .logo {
    width: 190px; /* Ajusta el tamaño del logotipo según sea necesario */
    height: auto;
  }


  .nav-item {
    position: relative;
  }

  .nav-item::before {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #fff;
    transition: width 0.5s ease;
  }

  .nav-item:hover::before {
    width: 100%;
  }
