.header {
    background-color: #000000;
    padding: 20px;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-menu {
    list-style: none;
    display: flex;
    gap: 20px;
  }

  .nav-item {
    margin-right: 10px;
  }

  .nav-link {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    transition: color 0.3s ease-in-out;
  }

  .nav-link:hover {
    color: #f0f0f0;
  }


  .logo-container {
    display: flex;
    align-items: center;
  }

  .logo {
    width: 190px; /* Ajusta el tamaño del logotipo según sea necesario */
    height: auto;
  }


  .nav-item {
    position: relative;
  }

  .nav-item::before {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #fff;
    transition: width 0.5s ease;
  }

  .nav-item:hover::before {
    width: 100%;
  }
